.git-bg {
  text-align: center;
  background-image: url('../../assets/img/git-branch-bg.jpg'), linear-gradient(#027fd2,#9a7800);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  margin-bottom: 0;
  border-radius: 0;
}

.equal-space {
  word-spacing: 5px;
  text-align: center;
  padding: 4px;
}

.min-h-30 {
  min-height: 330px;
}

.pr-bg:hover {
  background-image: url(../../assets/img/pr-bg.jpg);
  background-size: cover;
  background-position: center;
}

.pr-bg {
  background-image: url(../../assets/img/pr-bg1.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 0px) and (max-width: 575px) {
  .col-12.col-sm-5.col-md-4.col-lg-5.col-xl-3.jumbotron.mb-0.border-0.pr-bg {
    background-image: url(../../assets/img/pr-bg1.jpg);
    background-size: cover;
    background-position: 0 -150px;
    color: white;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .col-12.col-sm-5.col-md-4.col-lg-5.col-xl-3.jumbotron.mb-0.border-0.pr-bg:hover {
    background-image: url(../../assets/img/pr-bg.jpg);
    background-size: cover;
    background-position: 0 -150px;
    color: white;
  }
}

#git-graph rect.day {
  shape-rendering: geometricPrecision;
  outline: 1px solid rgba(27,31,35,.04);
  outline-offset: -1px;
  rx: 2;
  ry: 2;
}

rect {
  shape-rendering: crispedges;
}

svg.js-calendar-graph-svg {
}

rect.day {
  shape-rendering: geometricPrecision;
  outline: 1px solid rgba(27,31,35,.04);
  outline-offset: -1px;
  rx: 2;
  ry: 2;
}

rect[Attributes Style] {
  width: 10;
  height: 10;
  x: 14;
  y: 0;
  fill: rgb(235, 237, 240);
}

:not(svg) {
  transform-origin: 0px 0px;
}

:not(p) {
  color: #00596d;
}

rect {
  shape-rendering: crispedges;
}

g[Attributes Style] {
  transform: translate(10, 20);
}

text.wday {
  font-size: 9px;
  fill: #767676;
}

text.month {
  font-size: 10px;
  fill: #767676;
}

.navbar-light .navbar-text .separator::after {
  content: ' | ';
}

.navbar-light .navbar-text .separator {
  margin-right: auto;
  text-decoration: none;
  color: #465765;
  margin-bottom: auto;
}

.bg-linear {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 60%,#f4f4f4 100%) !important;
  box-shadow: 0px 0px 10px -3px #888890;
}

.col-12.col-sm-5.col-md-4.col-lg-5.col-xl-3.jumbotron.mb-0.pr-bg.br-0 {
  border-radius: 0px;
}

.box .learn-more {
  display: none;
}

.share-tech-mono {
  font-family: 'Share Tech Mono', monospace;
}

.features-boxed.pb-4.b-y-dash-blue {
  border-top: 1.5px dashed steelblue;
  border-bottom: 1.5px dashed steelblue;
}

.intro .text-green-tech {
  font-family: 'Share Tech Mono', monospace;
  color: forestgreen;
}

.navigation-clean-button .navbar-text .action-button {
  background: #00596d;
}

.navigation-clean-button .navbar-text .action-button:hover {
  background: #53afc5;
}

@media (max-width: 767px) {
  .nav-center {
    text-align: center !important;
    align-self: center !important;
    width: 100%;
  }
}

.border-dash-gray {
  border: 1px dashed darkgrey;
}

.os-spacing {
  letter-spacing: 0.2em;
  font-size: 14px;
  line-height: 18px;
}

.workex-desc > div :first-child {
  margin-bottom: 0px;
}

.workex-desc > div :nth-child(2) {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
}

.workex-desc > div :nth-child(3) {
  margin-top: 0px;
}

.flex-theme :nth-child(1) {
  background-color: #54AEC4;
}

.flex-theme :nth-child(2) {
  background-color: #F4F1F0;
}

.flex-theme :nth-child(3) {
  background-color: #BC9F75;
}

.flex-theme :nth-child(4) {
  background-color: #B35A59;
}

.flex-theme :nth-child(5) {
  background-color: #4D2035;
}

.flex-theme > div {
  min-height: 4px;
}

@media (max-width: 575px) {
  .pr-bg :hover {
    background-position: 0 -150px !important;
  }
}

@media (max-width: 575px) {
  .pr-bg {
    background-position: 0 -150px !important;
  }
}

.btn-secondary {
  color: #fff !important;
  background-color: rgba(0, 90, 108, 0.5) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 90, 108, 0)), to(rgba(0, 90, 108, 0)));
  background-image: linear-gradient(rgba(0, 90, 108, 0), rgba(0, 90, 108, 0));
  background-repeat: no-repeat;
}

.border-dash-white {
  border: 1px solid rgba(244,241,240,0.5);
  -webkit-box-shadow: 0 0 0.2rem 0.2rem rgba(244,241,240,0.25);
  box-shadow: 0 0 0.2rem 0.2rem rgba(244,241,240,0.25);
}

.border-dash-white > i {
  color: currentcolor;
}

.full-stack-bg > span {
  background-color: #53afc4;
  color: #f3f1f0;
  padding: 4px;
  padding-right: 8px;
  margin-top: 0.2rem;
}

.btn-secondary:hover {
  color: #f4f1f0 !important;
  border-color: #bc9f76 !important;
  background-color: #bc9f76 !important;
}

